.screen-margin {
    margin-left: var(--sidebar-width);
}
/* Sidebar */
.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: var(--sidebar-width);
    background-image: linear-gradient(to bottom, #39a4dc, #2763ab);
}

.sidebar a {
    width: 106px;
    height: 98px;
}

.sidebar a.active {
    background-color: #2765ac;
}

.sidebar .link-text {
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
}

/* End Sidebar */

/* Modal */
.box-drag {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* End Modal */

#image-upload {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    cursor: pointer;
}

#allow {
    accent-color: #2764ac;
}

.react-select__control {
    max-height: 30px!important;
    min-height: 30px!important;
    border-radius: 0.25rem!important;

}

.react-select__value-container {
    margin-bottom: 0!important;
}

.react-select__indicator {
    padding: 0 7px!important;
}

.react-select__indicator-separator {
    margin-bottom: 7px!important;
}

/* .react-select__menu {
    background-color: #eee!important;
    color: #2763ab!important;
} */

.react-select__option {
    background-color: #eee!important;
    color: #2763ab!important;

}

.react-select__option:hover {
    background-color: #2763ab!important;
    color: #fff!important;

}

.swal2-actions {
    gap: 18px;
}